---

---


    <div class="bg-[#4358A5] w-96 h-[460px] relative">
        <div class="bg-[#7281D1] w-[380px] h-6 top-0.5 left-0.5 absolute">
            <h class="left-2 absolute">about.txt</h>
            <div class="bg-[#354072] w-5 h-5 right-0.5 top-0.5 absolute"></div>
        </div>

        <div class="m-6 mt-12 text-sm">
            <p>hey! i go by acon :3</p>
            <p class="mt-4">i'm currently building things @ <a href="https://hackclub.com">hack club</a>. i graduated high school june 2024 and am taking a gap year!</p>
            <p class="mt-4">right now, i'm locaated in vermont, usa. but!! i grew up in waterloo, ontario, canada. <s><i>rawhh</i></s></p>
            <p class="mt-4">some things i do:</p>
            <ul class="ml-4 space-y-2">
                <li>code! i made this site in astro + tailwind. check out my <s>wasteland</s><a href="https://github.com/acornitum"> github</a>!</li>
                <li>similarily: been getting into pcb design!</li> 
                <li>design + art stuff :D ily figma + procreate</li> 
                <li>previously: played a lot of mtg and <s>yap</s> did debate a lot. will hopefully get back into these hobbies sometime?</li>
            </ul>



        </div>
    </div>

